.profile-picture {
    width: 200px;
    position: relative;
    margin-top: -150px;
    border-radius: 5px;
    border-color: black;
    border: 1.5px;
    border-style: solid;
}

.profile-nav ul li {
    border-top:  1px;
    padding: 5px;
    border-color: black;
    border-style: solid;
    font-weight: 700;
}

.profile-nav ul :first-child {
    margin-top: 15px;
    border-color: black;
    border-style: solid;
}

.profile-nav ul :last-child {
    border-bottom:  1px;
    border-color: black;
    border-style: solid;
}

.profile-info h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
}