.thumbs li {
    position: relative;
    width: 55px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 2px;
    margin: 3px;
}

.thumbs li:nth-child(3n+1){
    margin-left: 0px;
}

.thumbs li:nth-child(3n){
    margin-right: 0px;
}

.thumbs ul {
    display: flex;
    flex-wrap: wrap;
}